.offers {
  display: grid;
  grid-template-columns: 65% 65%;
  grid-template-rows: 65% 65%;
  width: 100%;
  height: 40vh;
  padding: 0px 0px 0px 15px;
}

@media only screen and (max-width: 375px) {
  .offers {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 100%;
    height: 100vh;
    padding: 0px 3pxpx 0px 3px;
  }
}
