.growth-and-images-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.growth {
  width: 100%;
  height: 40vh;
}

.growth > h1,
.growth > p {
  text-align: center;
}

.growth > h1 {
  font-size: 41.1px;
  color: #1e2022;
}

.growth > p {
  line-height: 1.8rem;
  margin-top: 15px;
  padding: 0px 30% 0px 30%;
  color: #677788;
}

.growth-input {
  width: 39%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0px 0px 30.5%;
  border: 1px solid #e7eaf3;
  border-radius: 6px;
}

.growth-input > input {
  width: 70%;
  height: 50px;
  outline-style: none;
  background: #fff;
  border: none;
}

.growth-input > .enter {
  padding: 0px 0px 0px 13px;
}

.growth-btn {
  width: 30%;
  font-weight: bold;
  font-size: 14px;
  background-color: #b9ca49;
  color: #fff;
  outline-style: none;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

/* Growth Image */

.growthImage-left {
  transform: scale(4.6) rotate(2deg) skew(-15deg, 15deg);
  margin: 96px 0px 0px 75px;
}

.growthImage-right {
  transform: scale(4) rotate(11deg) translate(20px, 11px) skew(28deg, -25deg);
  margin: 75px 81px 0px 0px;
}

.ipad,
.iphone {
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.ipad {
  background: url("../images/bannera.png");
  width: 100%;
  position: relative;
  z-index: 2;
}

.iphone {
  background: url("../images/cls2.png");
  width: 100%;
  position: relative;
  z-index: 2;
}

.dotItem1 {
  z-index: 1;
  width: 32px;
  margin: 65px 0px 0px -25px;
  position: absolute;
}

.dotItem2 {
  z-index: 1;
  width: 32px;
  margin: -5px 0px 0px -9px;
  position: absolute;
}

@media only screen and (max-width: 375px) {
  .growthImage-left,
  .growthImage-right {
    display: none;
  }
  .growth {
    padding: 0px 3px 0px 3px;
  }
  .growth > h1 {
    font-size: 30px;
  }
  .growth > p {
    line-height: 1.8rem;
    padding: 0px 3% 0px 3%;
  }

  .growth-input {
    width: 95%;
    margin: 30px 0px 0px 10px;
  }
}
